<html>
  <head>
    <title>Personal Assisant; by MR PORTER</title>
    <link rel="icon" href="/images/favicon.png?ver=1">

    <!-- Google Analytics -->
    <script>
    // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    // ga('create', 'UA-XXXXX-Y', 'auto');
    // ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  	<link rel="stylesheet" href="css/main.css">
  	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  </head>
  <body>
    {{{body}}}
    {{{headerScripts}}}
  </body>
</html>
