<header class='logo-container bottom-border flex-center-vertically'>
    <img src="images/mrplogo.svg" class='logo' alt="MR PORTER logo">
</header>

<section class='product-description-container'>
    <img src={{detail.mainImgUrl}} class='product-thumbnail' alt=''>
    <div class='product-copy-container flex-center-vertically'>
        <span class='product-brand'>{{detail.brand.name}}</span>
        <span class='product-description'>{{detail.name}}</span>
        <span class='oval green primary-oval'></span>
    </div>
</section>

<section><!-- Product image -->
    <img src={{detail.mainOutfitUrl}} class='full-width-image' alt="Outfit">
</section>

<section class='bottom-border'>
    <h1>SHOP THE LOOK IN-STORE</h1>
</section>

<section class='outfits scroll-container bottom-border padding-container'>
    {{#each outfits}}
        <img class='upsell-thumbnail' src={{this.mainImgUrl}} alt='upsell thumbnail'>
    {{/each}}
</section>

<section class=''>
    <h1>YOU MAY ALSO LIKE</h1>
</section>

<section class='ymal scroll-container bottom-border padding-container-with-title'>
    {{#each ymal}}
        <a href="/{{this.id}}">
            <img class='upsell-thumbnail' src={{this.mainImgUrl}} alt='upsell thumbnail'>
        </a>
    {{/each}}
</section>

<div id="modal" class='hide-modal flex-center-horizontally'>
    <section class=''>
        <div class='touch-area'>
            <img src='images/close.svg' alt='close modal' class='btn-dismiss close' />
        </div>
        <img src='images/wtww1.jpg' class='product-thumbnail main-product-image' alt=''>
        <div class='product-copy-container flex-center-vertically main-product-des'>
            <span class='product-brand'>A.P.C</span>
            <span class='product-description'>Essential Denim Jacket</span>
            <span class='oval yellow modal-oval'></span>
        </div>
        <!-- <div id="compassContainer" >
          <img src="/images/compass5.png" width="50" id="compass"/>
        </div> -->
        <div class='full-width'>
            <img src='/maps/1.png' class='full-width-image map' alt='map to product' >
        </div>
    </section>

    <section class=' other-pids'>
        <div class="outfit-pid">
            <img src='images/product-thumbnail.png' class='product-thumbnail' alt=''>
            <div class='product-copy-container flex-center-vertically'>
                <span class='product-brand'>A.P.C</span>
                <span class='product-description'>Essential Denim Jacket</span>
                <span class='oval hollow modal-oval'></span>
            </div>
        </div>
        <div class="outfit-pid">
            <img src='images/product-thumbnail.png' class='product-thumbnail' alt=''>
            <div class='product-copy-container flex-center-vertically'>
                <span class='product-brand'>A.P.C</span>
                <span class='product-description'>Essential Denim Jacket</span>
                <span class='oval hollow modal-oval'></span>
            </div>
        </div>
        <div class="outfit-pid">
            <img src='images/product-thumbnail.png' class='product-thumbnail' alt=''>
            <div class='product-copy-container flex-center-vertically'>
                <span class='product-brand'>A.P.C</span>
                <span class='product-description'>Essential Denim Jacket</span>
                <span class='oval hollow modal-oval'></span>
            </div>
        </div>

    </section>
</div>

{{!-- <div class="arrow-down">
</div> --}}

<script src="js/main.js"></script>
<script src="js/compass.js"></script>
