<div id="test"></div>

<script>
var testdom = document.querySelector('#test');

window.addEventListener('deviceorientation', function(event) {
    var str = event.alpha + ' : ' + event.beta + ' : ' + event.gamma + '   --  ' + event.interval;
  console.log(str);
  document.writeln(str)
});

</script>
