body {
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 3.5vw;
    letter-spacing: 0.3px;
}

.logo-container {
    text-align: center;
    padding: 10px;
    height: 8vw;
}
.logo {
    width: 50%;
    align-self: center;
}
/* border */
.bottom-border {
    border-bottom: 1px solid #979797;
}
/* product details */
.product-description-container {
    height: 20vw;
}
.product-thumbnail {
    position: relative;
    float: left;
    height: 16vw;
    top: 2vw;
}
.product-copy-container {
    height: 20vw;
    padding: 0 6vw 0 3vw;
}
.product-copy-container > span {
}
.flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex-center-horizontally {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.product-brand {
    font-family: Georgia;
    font-size: 4vw;
    letter-spacing: 0.2px;
    text-align: left;
    color: #2b2b2b;
    line-height: 6vw;
}
.product-description {
    font-family: Georgia;
    font-size: 3vw;
    letter-spacing: 0.2px;
    text-align: left;
    color: #2b2b2b;
}

.cta {
    font-family: SackersGothicStd;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: #2b2b2b;
}

.oval {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    position: absolute;
}

.primary-oval {
    right: 1vw;
}

.modal-oval {
    right: 6vw;
}

.green {
    background-color: #3cc867;
    border: solid 2px #ffffff;
}

.yellow {
    background-color: #eacb4a;
    border: solid 2px #ffffff;
}

.hollow {
    background-color: #fefefe;
    border: solid 1px #d3d3d3;
}

/* Outfit */
.full-width-image {
    height: auto;
    width: 100%;
}

/* upsell */
.scroll-container {
    height: 30vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.padding-container-with-title {
    padding-bottom: 4vw;
}
.padding-container {
    padding: 4vw 0;
}

.upsell-thumbnail {
    height: auto;
    width: 27vw;
    padding-right: 1vw;
}

/* dismiss X */
.btn-dismiss {
    outline: none;
    border: none;
    background: none;
    width: 2.5vw;
}

.touch-area {
    position: absolute;
    right: 5vw;
    cursor: pointer;
    display: flex;
    width: 6vw;
    justify-content: center;
    height: 6vw;
}

/* Floating arrow */
.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3cc867;
}

/* sticky footer */
.fixed {
    position: sticky;
    width: 100%;
    bottom: 0;
}
/* overlay */
#modal {
    position: absolute;
    top: 0;
    width: 90vw;
    height: auto;
    z-index: 1000;
    margin: 8vw 4vw 0;
    transform: translateY(20%);
    transition: all 0.5s;
}
#modal-text {
    font-size: 3vw;
}
#modal > section {
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4vw 6vw;
    width: 80vw;
    margin-top: 2vw;
}
#modal .product-thumbnail {
    height: 16vw;
}

/* Animtations */
.show-modal {
    opacity: 1;
    pointer-events: all;
}
.hide-modal {
    opacity: 0;
    pointer-events: none;
}
.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-out {
    -webkit-animation: slide-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@keyframes slide-out {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Fonts */

/* @font-face {
    font-family: 'Sackers';
    font-display: swap;
    font-weight: normal;
    src: url('../fonts/SackersGothic-Medium.woff2') format('woff2');
} */
